<div>
  <p>
    Olá,
    {{name}}!
    <br />
    Obrigado por se cadastrar em nosso site! Para completar seu cadastro, pedimos que confirme seu endereço de e-mail
    clicando no link abaixo:
  </p>
  <a href="{{link}}">{{link}}</a>
</div>