<div>
  <p>
    Olá,
    {{name}}!
    <br />
    Recebemos uma solicitação para redefinir a senha da sua conta. Para redefinir sua senha, clique no botão abaixo:
  </p>
  <a href="{{link}}">{{link}}</a>
</div>